<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
        <div class="grid-container region-detail" th:each="product: ${grid}">
            <section class="header-info">
                <div><span style="font-size: 20px" th:text="${product.productName}"></span></div>
                <div><span style="font-size: 13px" th:text="${product.quantity}"></span></div>
                <div><span style="font-size: 13px" th:text="${product.unit}"></span></div>
                <div>Sub Total : <span style="font-size: 15px" th:text="${product.subTotalIndo}"></span></div>
            </section>
        </div>
        <div>Total : <span style="font-size: 17px;" th:text="${total}"></span></div>
        <a th:href="@{/product/confirm(user=${user})}" class="blue-button update-button" type="submit">Confirm</a>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>