<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <div class="grid-container region-detail" th:each="product: ${grid}">
        <section class="header-info">
            <div><span style="font-size: 30px" th:text="${product.productName}"></span></div>
            <div>
                <span th:if="${product.discount} == 0" style="font-size: 10px;" th:text="${product.empty}"></span>
                <span th:if="${product.discount} != 0" style="text-decoration: line-through white; font-size: 10px" th:text="${product.priceIndo}"></span>
            </div>
            <div><span style="font-size: 20px" th:text="${product.priceAfterDiscount}"></span></div>
            <div>
                <a th:href="@{/product/detail(productCode=${product.productCode})}" class="blue-button update-button">Buy</a>
            </div>
        </section>
    </div>
    <div class="pagination">
        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
        <div>
            <a th:each="loop:${#numbers.sequence(1,totalPages)}"
               th:href="@{/product/list(page=${loop})}"
               th:text="${loop}">
            </a>
        </div>
    </div>
<!--    <a th:href="@{/product/checkOut}" class="blue-button detail-button">CheckOut</a>-->
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>